<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles3.css">
    <title>myAttend</title>
</head>
<body>
    <div id="myattend" >
        <h1>Heyy there !!</h1><br><br>
        <h2>Your attendance in <%=sCourse%> is <%=att%> %</h2>
        <h2>Total classes conducted <%= totclass %></h2>
        <h2>You have attended <%= attClass %></h2>
       
        <% if (att < 80) { %>
            <h2>Start attending your classes regularly !!</h2>
          <% } else { %>
            <h2>Well done keep going !!</h2>
        <% } %>

    </div>
    
</body>
</html>