<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles2.css">
    <title>Teacher portal</title>
</head>

<body>
    <form action="/teacher" class="form1" method="post">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <div class="form-inner">
          <h2>FACULTY LOGIN</h2>
          <div class="content">
              <input type="number" minlength="5" maxlength="5" min="10000" name="id" class="input1" placeholder="Faculty ID">
              <input type="password" name="pass" class="input1" placeholder="Password">
              <button class="btn">Submit</button>
          </div>
      </div>
    </form>
  </body>
</html>