<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles3.css">
    <title>Attendance</title>

  </head>
  <body>
  
      <h1>ATTENDANCE</h1>
      
      <table>
        <tbody>
          <tr>
            <th>ClassID</th>
            <th>Sid</th>
            <th>Attendance</th>
          </tr>
          
          <% for(var i=0 ; i<sids.length ; i++ ){%>
              <tr>
                <td><%=clsid%></td>
                <td ><%=sids[i]%></td>
                <td><%=att[i]%></td>
              </tr>
              
          <%}%>
            
        </tbody>
        
            
      </table>

    
</body>
</html>